*{
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    margin: 0px;
}

body{
    font-size: 15px;   
    font-family: 'Outfit', sans-serif;
    color: var(--darkBlue);
    background-color: var(--lightgray);
    text-align: center;
    display: flex;
    justify-content: center;
}

.container{
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    align-items: center;
    gap: 1em;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.container img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

h2{
    color: var(--darkBlue);
    font-size: 18px;
}

p{
    color: var(--grayishBlue);
    padding-bottom: 10px;
}